<!-- <button class="ui blue button" type="button" {{action "addCategory"}}>New Category</button> -->

{{#each category in model itemController="category"}}
  {{#view "category"}}
    <div class="category-header" {{bind-attr style="category.colorData.colorStyle"}}>
      {{color-picker selectedColor=category.color updatedColorData="updateColor"}}
      <h4 class="ui header">{{click-to-edit-text value=category.name editing=category.editing}}</h4>
      <a href="#" {{bind-attr class=":add category.editing:hide"}} {{action "addTask"}}>+</a>
    </div>
    <ul class="category">
      {{#each task in category.sortedTasks itemController="task"}}
        {{view "task" data-id=task.id completed=task.completed overdue=task.overdue}}
      {{/each}}
    </ul>
  {{/view}}
{{/each}}
