<div class="ui checkbox" {{bind-attr style="category.colorData.colorStyle"}}>
  {{input type="checkbox" checked=task.completed}}
</div>
<div>
  {{click-to-edit-text value=task.title editing=task.editing}}
  <div class="due-date">
    {{#if task.dueDate}}
      {{#if task.editingDueDate}}
        {{date-time-field date=task.dueDate done="endEditingDueDate"}}
      {{else}}
        <a href="#" {{bind-attr style="category.colorData.colorStyle"}} {{action "editDueDate"}}>{{task.formattedDueDate}}</a>
        <a href="#" class="delete" {{action "removeDueDate"}}><i class="remove icon"></i></a>
      {{/if}}
    {{else}}
      <a href="#" class="add" {{bind-attr style="category.colorData.colorStyle"}} {{action "addDueDate"}}>Add due date</a>
    {{/if}}
</div>
